{% extends "map/base.html" %}
{% block title %} - Caroling Map{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}groups/css/map.css">
{% endblock %}
{% block endbody %}
<script type="text/javascript">
  $(document).ready(function() {
    var map = new Map(true, '/events/location?type=4', '/events/info/', function(item) {
      return 'hat.png';
    }, '{{ STATIC_URL }}img/');
    map.initialize();
    map.loadMarkers();
  });
</script>
{% endblock %}
