{% load group_tags %}
<div class="infowindow">
  <h3>{{ group.name }}</h3>
  <p><strong>Location:</strong> {{ group.location }}</p>
  {% if group.website %}
    <p><a href="{{ group.website }}" target="_blank">Website</a></p>
  {% endif %}
  {% if group.wikipella_id %}
    <p><a href="http://wikipella.org/wiki/{{ group.wikipella_id }}" target="_blank">Wikipella</a></p>
  {% endif %}
  {% if group.email or group.facebook_id or group.twitter_id or group.youtube_id or group.gplus_id or group.myspace_id or group.loudr_id or group.instagram_id or group.itunes_id %}
    <table>
      {% social_row group True %}
    </table>
  {% endif %}
</div>
