{% extends "base.html" %}

{% load group_tags %}
{% load bootstrap_pagination %}

{% block title %} - Group list{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ STATIC_URL }}groups/css/list.css">
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        $('#search_form').submit(function() {
          $('input[name,value=""]').attr('name', '');
        });
    });
  </script>
{% endblock %}
{% block content %}
  <div class="container">
    <h2>Group list</h2>
    <form id="search_form" class="form-horizontal" method="get">
      {{ form.non_field_errors }}
      {{ form.search_errors }}
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <div class="col-md-12">
          {{ form.search }}
        </div>
      </div>
      {{ form.distance_errors }}
      {{ form.unit_errors }}
      {{ form.location_errors }}
      <div class="form-group">
        <div class="input-group col-md-2">
          <span class="input-group-addon">Within</span>
            {{ form.distance }}
        </div>
        <div class="input-group col-md-10">
          <span class="input-group-addon">
            {{ form.unit }}
          </span>
          {{ form.location }}
        </div>
      </div>
      {{ form.makeup_errors }}
      {{ form.type_errors }}
      <div class="form-group">
        <label for="makeup" class="col-md-1 control-label">Makeup</label>
        <div class="col-md-2">
          {{ form.makeup }}
        </div>
        <label for="type" class="col-md-1 control-label">Type</label>
        <div class="col-md-3">
          {{ form.group_type }}
        </div>
        <div class="col-md-3"></div>
        <button type="submit" class="btn btn-default col-md-1">Submit</button>
        <a href="/groups" class="btn btn-default col-md-1">Clear</a>
      </div>
    </form>
    {% if groups|length_is:"0" %}
      <h3>No groups matched your search!</h3>
    {% else %}
      <table id="groups_table" class="table">
        <tr>
          <th>Name</th><th>Location</th><th>Website</th><th>Wikipella</th><th>On the web</th>
        </tr>
        {% for group in groups %}
          <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.location }}</td>
            <td>
              {% if group.website %}
                <a href="{{ group.website }}" target="_blank">Link</a>
              {% endif %}
            </td>
            <td>
              {% if group.wikipella_id %}
                <a href="http://wikipella.org/wiki/{{ group.wikipella_id }}" target="_blank">Link</a>
              {% endif %}
            </td>
            <td>{% social_row group False %}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="paginate">
        {% bootstrap_paginate groups range=10 show_first_last="true" %}
      </div>
    {% endif %}
  </div>
{% endblock %}
