{% extends "base.html" %}

{% block title %} - Group list{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/grouplist.css">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Group list</h2>
    <form id="search_form" class="form-horizontal" method="get">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <div class="col-md-10">
          <input class="form-control" id="id_search" name="search" placeholder="Search" type="text"{% if search %}value="{{ search }}"{% endif %}/>
        </div>
        <button type="submit" class="btn btn-default col-md-1">Submit</button>
        <a href="/groups" class="btn btn-default col-md-1">Clear</a>
      </div>
    </form>
    {% if groups %}
      <table id="groups_table" class="table">
        <tr>
          <th>Name</th><th>Location</th><th>Wikipella</th><th>On the web</th>
        </tr>
        {% for group in groups %}
          <tr>
            <td>
              {% if group.website %}
                <a href="{{ group.website }}" target="_blank">
              {% endif %}
              {{ group.name }}
              {% if group.website %}
                </a>
              {% endif %}
            </td>
            <td>
              {% if group.school %}
                <a href="/groups?school={{ group.school.id }}">{{ group.school.location }}</a>
              {% else %}
                {{ group.location }}
              {% endif %}
            </td>
            <td>
              {% if group.wikipella_id %}
                <a href="http://wikipella.org/wiki/{{ group.wikipella_id }}" target="_blank">Link</a>
              {% endif %}
            </td>
            <td>
              <span>
                {% for link in group.links %}
                  <a href="{{ link.0 }}" target="_blank"><img src="/static/img/{{ link.1 }}" title="{{ link.2 }}" /></a>
                {% endfor %}
              </span>
            </td>
          </tr>
        {% endfor %}
      </table>
      <ul class="pager">
        {% if previous %}<li><a href="{{ previous }}">Previous</a>{% endif %}
        {% if next %}<li><a href="{{ next }}">Next</a>{% endif %}
      </ul>
    {% else %}
      <h3>No groups matched your search!</h3>
    {% endif %}
  </div>
{% endblock %}