{% extends "base.html" %}

{% block title %} - Group list{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/list.css">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Group list</h2>
    <form id="search_form" class="form-horizontal" method="get">
      <div class="form-group row">
        <div class="col s10">
          <input class="form-control" id="id_search" name="search" placeholder="Search" type="text"{% if search %}value="{{ search }}"{% endif %}/>
        </div>
        <button type="submit" class="btn btn-default col s1">Submit</button>
        <a href="/groups" class="btn btn-default col s1">Clear</a>
      </div>
    </form>
    {% if groups %}
      <table id="groups_table" class="table striped">
        <thead>
          <tr>
            <th>Name</th><th>Location</th><th>On the web</th>
          </tr>
        </thead>
        {% for group in groups %}
          <tr>
            <td>
              {% if group.website %}<a href="{{ group.website }}" target="_blank">{% endif %}
              {{ group.name }}
              {% if group.website %}</a>{% endif %}
            </td>
            <td>
              {% if group.school %}
                {% for school in group.school %}
                  <a href="/groups?school={{ school.id }}">{{ school.location }}</a>
                {% endfor %}
              {% elif group.city %}
                <a href="/groups?city={{ group.city.id }}">{{ group.city.address }}</a>
              {% else %}
                {{ group.location }}
              {% endif %}
            </td>
            <td>
              <span>
                {% for link in group.links %}
                  <a href="{{ link.0 }}" target="_blank"><img src="/static/img/{{ link.1 }}" title="{{ link.2 }}" /></a>
                {% endfor %}
              </span>
            </td>
          </tr>
        {% endfor %}
      </table>
      <ul class="pagination">
        {% if previous %}<li><a href="{{ previous }}" class="white-text text-lighten-2 btn">Previous</a>{% endif %}
        {% if next %}<li><a href="{{ next }}" class="white-text text-lighten-2 btn">Next</a>{% endif %}
      </ul>
    {% else %}
      <h3>No groups matched your search!</h3>
    {% endif %}
  </div>
{% endblock %}