<div class="infowindow">
  <h3>{{ group.name }}</h3>
  {% if group.school %}
    {% for school in group.school %}
      <h4>{{ school.name }}</h4>
    {% endfor %}
  {% endif %}
  <p>
    <strong>Location:</strong>
    {% if group.school %}
      {{ group.school[0].city.address }}
    {% else %}
      {{ group.city.address }}
    {% endif %}
  </p>
  {% if group.website %}
    <p><a href="{{ group.website }}" target="_blank">Website</a></p>
  {% endif %}
  {% if group.wikipella_id %}
    <p><a href="http://wikipella.org/wiki/{{ group.wikipella_id }}" target="_blank">Wikipella</a></p>
  {% endif %}

  {% if links %}
    <table>
      <tr>
        {% for link in links %}
          <td><a href="{{ link.0 }}" target="_blank"><img src="/static/img/{{ link.1 }}" title="{{ link.2 }}" /></a></td>
        {% endfor %}
      </tr>
    </table>
  {% endif %}
</div>