{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/comingsoon.css">
{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>The Acalist</h1>
    <p>We're currently undergoing a much-needed facelift.
    Want to help out?  <a href="mailto:craigmartek@gmail.com">Get in touch!</a></p>
    <p>Currently tracking {{ group_count }} a cappella groups!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="{{ STATIC_URL }}images/heatmap.png" 
          style="width: 140px; height: 140px;" />
      <h2>Groups</h2>
      <p>See groups in your area and across the globe! Check out our current <a href="/groups">list of groups</a> or take a look at the global <a href="/groups/map">map</a> or <a href="/groups/heatmap">heatmap</a>!</p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="{{ STATIC_URL }}images/comingsoon.png" 
          style="width: 140px; height: 140px;" />
      <h2>Events</h2>
      <p>Track what a cappella events are happening near you and publicize your own group's events!</p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="{{ STATIC_URL }}images/comingsoon.png" 
          style="width: 140px; height: 140px;" />
      <h2>Auditions</h2>
      <p>Look for groups that are auditioning, start a new group, or get auditionees for your group!</p>
    </div>
  </div>
</div>
{% endblock %}
